languages:
  - en
  - fr
  - es
source_files:
  "examples/xliff-app/translations/messages.en.xlf":
    destination_path: "examples/xliff-app/translations/messages.%algebras_locale_code%.xlf"
api:
  provider: algebras-ai
xlf:
  default_target_state: "translated" #  "needs-review-translation" by default
